In [1]:
import pandas as pd
import numpy as np
import os
import random
random.seed(100)
os.chdir('/home/sunil/Desktop/datahack')
train = pd.read_csv('train.csv')

In [2]:
train.shape

(614, 13)

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train.rename(columns={'Loan_Status': 'class'}, inplace=True)

In [5]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
class                 object
dtype: object

In [6]:
train.isnull().values.any()

True

In [7]:
train=train.dropna()

In [8]:
train.shape

(480, 13)

In [9]:
train.isnull().values.any()

False

In [10]:
y = train['class'] 
X = train.drop('class', axis=1)  
X = train.drop('Loan_ID',axis=1)

In [11]:
for col_name in  X.columns:
    if(X[col_name].dtype == 'object'):
        X[col_name]= X[col_name].astype('category')
        X[col_name] = X[col_name].cat.codes

In [12]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,class
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [13]:
y.head()

1    N
2    Y
3    Y
4    Y
5    Y
Name: class, dtype: object

In [14]:
X.apply(lambda x: x.value_counts()).T.stack()

Gender            0.0        86.0
                  1.0       394.0
Married           0.0       169.0
                  1.0       311.0
Dependents        0.0       274.0
                  1.0        80.0
                  2.0        85.0
                  3.0        41.0
Education         0.0       383.0
                  1.0        97.0
Self_Employed     0.0       414.0
                  1.0        66.0
ApplicantIncome   150.0       1.0
                  645.0       1.0
                  1000.0      1.0
                  1025.0      1.0
                  1299.0      1.0
                  1378.0      1.0
                  1442.0      1.0
                  1500.0      1.0
                  1538.0      1.0
                  1600.0      1.0
                  1625.0      1.0
                  1668.0      1.0
                  1759.0      1.0
                  1782.0      1.0
                  1800.0      2.0
                  1809.0      1.0
                  1811.0      1.0
                  1820.0      1.0
                            ...
LoanAmount        320.0       1.0
                  324.0       1.0
                  349.0       1.0
                  360.0       1.0
                  376.0       1.0
                  380.0       1.0
                  400.0       1.0
                  436.0       1.0
                  480.0       2.0
                  495.0       1.0
                  496.0       1.0
                  500.0       1.0
                  570.0       1.0
                  600.0       2.0
Loan_Amount_Term  36.0        2.0
                  60.0        2.0
                  84.0        3.0
                  120.0       3.0
                  180.0      36.0
                  240.0       2.0
                  300.0       9.0
                  360.0     411.0
                  480.0      12.0
Credit_History    0.0        70.0
                  1.0       410.0
Property_Area     0.0       139.0
                  1.0       191.0
                  2.0       150.0
class             0.0       148.0
                  1.0       332.0
Length: 851, dtype: float64

In [15]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y.values,train_size=0.90, test_size=0.10)

In [16]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((432, 12), (48, 12), (432,), (48,))

In [17]:
X_train_array=X_train.values
X_test_array=X_test.values

In [18]:
print(type(X_train_array))
print(type(X_test_array))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [19]:
y_test

array(['N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y'], dtype=object)

In [20]:
X_test_array

array([[1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        4.1660e+03, 0.0000e+00, 9.8000e+01, 3.6000e+02, 0.0000e+00,
        1.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
        1.0000e+03, 3.0220e+03, 1.1000e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        5.5680e+03, 2.1420e+03, 1.7500e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
        3.0000e+03, 0.0000e+00, 6.6000e+01, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 1.0000e+00, 0.0000e+00,
        2.1920e+03, 1.7420e+03, 4.5000e+01, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.7040e+03, 2.0000e+03, 1.2000e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.2080e+03, 3.0660e+03, 1.7200e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.5970e+03, 2.1570e+03, 1.1900e+02, 3.6000e+02, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.2841e+04, 1.0968e+04, 3.4900e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 0.0000e+00],
       [0.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        4.6080e+03, 2.8450e+03, 1.4000e+02, 1.8000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.2370e+03, 0.0000e+00, 3.0000e+01, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.1580e+03, 3.0530e+03, 8.9000e+01, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 1.0000e+00, 0.0000e+00,
        3.9870e+03, 1.4110e+03, 1.5700e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 1.0000e+00,
        2.7260e+03, 0.0000e+00, 1.0600e+02, 3.6000e+02, 0.0000e+00,
        1.0000e+00, 0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.3330e+03, 0.0000e+00, 7.0000e+01, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        6.0960e+03, 0.0000e+00, 2.1800e+02, 3.6000e+02, 0.0000e+00,
        0.0000e+00, 0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.7180e+03, 0.0000e+00, 7.0000e+01, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 3.0000e+00, 0.0000e+00, 0.0000e+00,
        6.4060e+03, 0.0000e+00, 1.5000e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 0.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 1.0000e+00,
        2.5830e+03, 2.1670e+03, 1.0400e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        8.3330e+03, 0.0000e+00, 2.4600e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.9930e+03, 3.2740e+03, 2.0700e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.2970e+03, 1.5220e+03, 1.0400e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        4.1240e+03, 0.0000e+00, 1.1500e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.4390e+03, 3.3330e+03, 1.2900e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 1.0000e+00, 0.0000e+00,
        3.0830e+03, 2.1680e+03, 1.2600e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        3.4060e+03, 4.4170e+03, 1.2300e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        5.0000e+03, 0.0000e+00, 1.0300e+02, 3.6000e+02, 0.0000e+00,
        1.0000e+00, 0.0000e+00],
       [1.0000e+00, 0.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        3.6170e+03, 0.0000e+00, 1.0700e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.3830e+03, 3.3340e+03, 1.7200e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.6980e+03, 2.0340e+03, 1.2200e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        4.6000e+03, 0.0000e+00, 7.3000e+01, 1.8000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [0.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        1.3780e+03, 1.8810e+03, 1.6700e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 3.0000e+00, 1.0000e+00, 0.0000e+00,
        3.0950e+03, 0.0000e+00, 1.1300e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        4.5470e+03, 0.0000e+00, 1.1500e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        3.5100e+03, 4.4160e+03, 2.4300e+02, 3.6000e+02, 1.0000e+00,
        0.0000e+00, 1.0000e+00],
       [1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        8.5660e+03, 0.0000e+00, 2.1000e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        1.8000e+03, 2.9340e+03, 9.3000e+01, 3.6000e+02, 0.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        3.2830e+03, 2.0350e+03, 1.4800e+02, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        6.7000e+03, 1.7500e+03, 2.3000e+02, 3.0000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.6450e+03, 3.4400e+03, 1.2000e+02, 3.6000e+02, 0.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        4.8600e+03, 8.3000e+02, 1.2500e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        6.4000e+03, 7.2500e+03, 1.8000e+02, 3.6000e+02, 0.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
        1.5380e+03, 1.4250e+03, 3.0000e+01, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        3.1660e+03, 0.0000e+00, 3.6000e+01, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 2.0000e+00, 0.0000e+00, 0.0000e+00,
        4.0090e+03, 1.7170e+03, 1.1600e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00],
       [1.0000e+00, 1.0000e+00, 1.0000e+00, 1.0000e+00, 0.0000e+00,
        2.5100e+03, 1.9830e+03, 1.4000e+02, 1.8000e+02, 1.0000e+00,
        2.0000e+00, 0.0000e+00],
       [1.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
        2.3330e+03, 1.5160e+03, 9.5000e+01, 3.6000e+02, 1.0000e+00,
        2.0000e+00, 1.0000e+00],
       [0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
        2.3300e+03, 4.4860e+03, 1.0000e+02, 3.6000e+02, 1.0000e+00,
        1.0000e+00, 1.0000e+00]])

In [21]:
type(X_test_array)

numpy.ndarray

In [22]:
X_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,class
464,1,0,0,0,0,4166,0.0,98.0,360.0,0.0,1,0
77,1,1,1,0,1,1000,3022.0,110.0,360.0,1.0,2,0
118,1,1,0,0,0,5568,2142.0,175.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
520,1,1,2,1,0,2192,1742.0,45.0,360.0,1.0,1,1
287,1,1,0,0,0,3704,2000.0,120.0,360.0,1.0,0,1
70,1,1,0,0,0,3208,3066.0,172.0,360.0,1.0,2,1
494,1,1,0,0,0,3597,2157.0,119.0,360.0,0.0,0,0
9,1,1,1,0,0,12841,10968.0,349.0,360.0,1.0,1,0
540,0,1,1,0,0,4608,2845.0,140.0,180.0,1.0,1,1
270,0,0,0,0,0,3237,0.0,30.0,360.0,1.0,2,1
285,1,0,0,0,0,3158,3053.0,89.0,360.0,1.0,0,1
607,1,1,2,1,0,3987,1411.0,157.0,360.0,1.0,0,1
589,1,1,2,0,1,2726,0.0,106.0,360.0,0.0,1,0
566,1,0,0,0,0,3333,0.0,70.0,360.0,1.0,2,1
412,1,1,0,1,0,6096,0.0,218.0,360.0,0.0,0,0
132,1,0,0,0,0,2718,0.0,70.0,360.0,1.0,1,1
574,1,1,3,0,0,6406,0.0,150.0,360.0,1.0,1,0
252,1,0,0,1,1,2583,2167.0,104.0,360.0,1.0,0,1
484,1,1,2,0,0,8333,0.0,246.0,360.0,1.0,1,1
276,1,1,0,0,0,3993,3274.0,207.0,360.0,1.0,1,1
586,1,1,0,0,0,2297,1522.0,104.0,360.0,1.0,2,1
288,0,0,0,0,0,4124,0.0,115.0,360.0,1.0,1,1
167,1,1,0,0,0,2439,3333.0,129.0,360.0,1.0,0,1
347,1,1,2,1,0,3083,2168.0,126.0,360.0,1.0,2,1
244,1,1,0,1,0,3406,4417.0,123.0,360.0,1.0,1,1
548,0,0,0,0,0,5000,0.0,103.0,360.0,0.0,1,0
537,1,0,2,0,0,3617,0.0,107.0,360.0,1.0,1,1
294,1,1,0,0,0,2383,3334.0,172.0,360.0,1.0,1,1
143,1,1,0,0,0,2698,2034.0,122.0,360.0,1.0,1,1
182,1,1,0,0,0,4600,0.0,73.0,180.0,1.0,1,1
82,0,1,2,0,0,1378,1881.0,167.0,360.0,1.0,2,0
481,1,1,3,1,0,3095,0.0,113.0,360.0,1.0,0,1
405,0,0,0,0,0,4547,0.0,115.0,360.0,1.0,1,1
505,1,1,2,0,0,3510,4416.0,243.0,360.0,1.0,0,1
88,1,0,0,0,0,8566,0.0,210.0,360.0,1.0,2,1
300,1,1,0,1,0,1800,2934.0,93.0,360.0,0.0,2,0
512,1,1,2,0,0,3283,2035.0,148.0,360.0,1.0,2,1
476,1,1,2,0,0,6700,1750.0,230.0,300.0,1.0,1,1
48,0,1,0,0,0,2645,3440.0,120.0,360.0,0.0,2,0
149,1,1,0,0,0,4860,830.0,125.0,360.0,1.0,1,1
180,1,1,1,0,0,6400,7250.0,180.0,360.0,0.0,2,0
147,1,1,1,0,0,1538,1425.0,30.0,360.0,1.0,2,1
582,0,1,0,0,0,3166,0.0,36.0,360.0,1.0,1,1
221,1,1,2,0,0,4009,1717.0,116.0,360.0,1.0,1,1
241,1,1,1,1,0,2510,1983.0,140.0,180.0,1.0,2,0
6,1,1,0,1,0,2333,1516.0,95.0,360.0,1.0,2,1
145,0,1,0,0,0,2330,4486.0,100.0,360.0,1.0,1,1

In [23]:
X_train_array

array([[1., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 1., 1.],
       [1., 1., 2., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 1., 0., 1.],
       [1., 1., 2., ..., 1., 2., 1.],
       [1., 1., 0., ..., 1., 2., 1.]])

In [24]:
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,class
62,1,1,0,1,1,2609,3449.0,165.0,180.0,0.0,0,0
96,0,1,0,0,0,2484,2302.0,137.0,360.0,1.0,1,1
450,1,1,2,1,0,2309,1255.0,125.0,360.0,0.0,0,0
534,0,0,0,1,1,18165,0.0,125.0,360.0,1.0,2,1
153,1,1,2,1,0,2281,0.0,113.0,360.0,1.0,0,0
138,1,0,0,0,0,14999,0.0,242.0,360.0,0.0,1,0
434,1,0,0,0,0,3750,0.0,100.0,360.0,1.0,2,1
457,1,1,0,0,0,3708,2569.0,173.0,360.0,1.0,2,0
254,1,0,0,0,1,16250,0.0,192.0,360.0,0.0,2,0
210,0,0,0,0,0,10000,0.0,214.0,360.0,1.0,1,0
262,0,0,1,0,0,3481,0.0,155.0,36.0,1.0,1,0
529,1,0,0,1,0,6783,0.0,130.0,360.0,1.0,1,1
603,1,0,0,0,0,3676,4301.0,172.0,360.0,1.0,0,1
177,1,1,3,0,0,5516,11300.0,495.0,360.0,0.0,1,0
115,1,1,1,0,0,14583,0.0,185.0,180.0,1.0,0,1
14,1,1,2,0,0,1299,1086.0,17.0,120.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
366,1,0,0,0,0,2500,0.0,96.0,480.0,1.0,1,0
445,1,1,1,0,1,3466,1210.0,130.0,360.0,1.0,0,1
327,1,1,0,0,1,5818,2160.0,184.0,360.0,1.0,1,1
277,1,1,0,0,0,3103,1300.0,80.0,360.0,1.0,2,1
109,1,1,3,1,0,2071,754.0,94.0,480.0,1.0,1,1
384,1,1,2,0,0,4566,0.0,100.0,360.0,1.0,2,0
227,1,1,2,0,0,6250,1695.0,210.0,360.0,1.0,1,1
179,1,0,0,1,0,2333,1451.0,102.0,480.0,0.0,2,0
331,1,0,0,0,0,2935,0.0,98.0,360.0,1.0,1,1
570,1,1,1,0,0,3417,1750.0,186.0,360.0,1.0,2,1
34,1,0,3,0,0,12500,3000.0,320.0,360.0,1.0,0,0
110,1,0,0,0,0,5316,0.0,136.0,360.0,1.0,2,1
439,0,1,0,1,1,7142,0.0,138.0,360.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
243,1,1,2,0,1,6250,1300.0,108.0,360.0,1.0,0,1
140,1,1,2,0,0,5042,2083.0,185.0,360.0,1.0,0,0
183,1,1,1,0,0,33846,0.0,260.0,360.0,1.0,1,0
514,1,0,0,0,0,5815,3666.0,311.0,360.0,1.0,0,0
195,1,1,1,0,0,3125,2583.0,170.0,360.0,1.0,1,0
361,1,1,2,0,0,5000,3667.0,236.0,360.0,1.0,1,1
572,1,1,2,0,0,16666,0.0,275.0,360.0,1.0,2,1
370,0,0,0,0,1,15759,0.0,55.0,360.0,1.0,1,1
281,1,1,0,0,0,3927,800.0,112.0,360.0,1.0,1,1
604,0,1,1,0,0,12000,0.0,496.0,360.0,1.0,1,1
391,1,1,3,0,0,9504,0.0,275.0,360.0,1.0,0,1
349,1,1,0,0,0,2625,6250.0,187.0,360.0,1.0,0,1
352,1,1,3,0,0,2666,2083.0,95.0,360.0,1.0,0,1
610,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0,1
475,1,1,2,0,1,16525,1014.0,150.0,360.0,1.0,0,1
93,1,0,0,0,0,4133,0.0,122.0,360.0,1.0,1,1
186,1,1,1,0,1,2178,0.0,66.0,300.0,0.0,0,0
500,0,0,0,0,0,645,3683.0,113.0,480.0,1.0,0,1
15,1,0,0,0,0,4950,0.0,125.0,360.0,1.0,2,1
525,1,1,2,0,1,17500,0.0,400.0,360.0,1.0,0,1
381,1,0,0,0,0,5941,4232.0,296.0,360.0,1.0,1,1
74,1,1,3,0,1,5266,1774.0,187.0,360.0,1.0,1,1
547,1,0,0,0,0,2526,1783.0,145.0,360.0,1.0,0,1
368,1,1,1,0,0,6325,0.0,175.0,360.0,1.0,1,1
56,1,1,0,0,0,2132,1591.0,96.0,360.0,1.0,1,1
123,1,1,2,0,0,2957,0.0,81.0,360.0,1.0,1,1
569,1,1,0,0,0,3166,2064.0,104.0,360.0,0.0,2,0
265,1,0,0,0,0,4095,3447.0,151.0,360.0,1.0,0,1
144,1,1,2,0,0,11757,0.0,187.0,180.0,1.0,2,1
388,1,1,0,0,0,2333,2417.0,136.0,360.0,1.0,2,1

In [25]:
type(X_train_array)

numpy.ndarray

In [26]:
type(y_train)

numpy.ndarray

In [27]:
y_train[1]

'Y'

In [28]:
import numpy as np 
np.shape(X_train_array)

(432, 12)

In [29]:
np.shape(X_test_array)

(48, 12)

In [30]:
y_test

array(['N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y'], dtype=object)

In [31]:
import warnings
warnings.filterwarnings("ignore")

In [32]:
import h2o

from h2o.automl import H2OAutoML

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_152-release"; OpenJDK Runtime Environment (build 1.8.0_152-release-1056-b12); OpenJDK 64-Bit Server VM (build 25.152-b12, mixed mode)
  Starting server from /home/sunil/anaconda3/h2o_jar/h2o.jar
  Ice root: /tmp/tmpmvv_0ud2
  JVM stdout: /tmp/tmpmvv_0ud2/h2o_sunil_started_from_python.out
  JVM stderr: /tmp/tmpmvv_0ud2/h2o_sunil_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.
Warning: Your H2O cluster version is too old (8 months and 8 days)! Please download and install the latest version from http://h2o.ai/download/

--------------------------  ----------------------------------------
H2O cluster uptime:         07 secs
H2O cluster timezone:       Asia/Kolkata
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.2
H2O cluster version age:    8 months and 8 days !!!
H2O cluster name:           H2O_from_python_sunil_uau9ye
H2O cluster total nodes:    1
H2O cluster free memory:    3.458 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.6 final
--------------------------  ----------------------------------------

In [33]:
X_train['class'] = y_train

In [34]:
X_test['class'] = y_test

In [35]:
X_train_h2o = h2o.H2OFrame(X_train)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [36]:
X_test_h2o = h2o.H2OFrame(X_test)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [37]:
X_train_h2o.describe()

Rows:432
Cols:12

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,class
type,int,int,int,int,int,int,real,int,int,int,int,enum
mins,0.0,0.0,0.0,0.0,0.0,150.0,0.0,9.0,36.0,0.0,0.0,
mean,0.8217592592592593,0.6342592592592593,0.7847222222222225,0.2013888888888889,0.14351851851851852,5527.916666666672,1547.7012036774076,146.2893518518519,341.44444444444434,0.8564814814814815,1.011574074074074,
maxs,1.0,1.0,3.0,1.0,1.0,81000.0,33837.0,600.0,480.0,1.0,2.0,
sigma,0.383158999554479,0.4821956813245854,1.0274415397267482,0.40150288047747457,0.35100734007783857,5912.460400577668,2668.5856189389333,82.26955907497617,67.1276559730964,0.3510073400778385,0.7810726897699579,
zeros,77,158,245,345,370,0,199,0,0,62,129,
missing,0,0,0,0,0,0,0,0,0,0,0,0
0,1.0,1.0,0.0,1.0,1.0,2609.0,3449.0,165.0,180.0,0.0,0.0,N
1,0.0,1.0,0.0,0.0,0.0,2484.0,2302.0,137.0,360.0,1.0,1.0,Y
2,1.0,1.0,2.0,1.0,0.0,2309.0,1255.0,125.0,360.0,0.0,0.0,N
3,0.0,0.0,0.0,1.0,1.0,18165.0,0.0,125.0,360.0,1.0,2.0,Y
4,1.0,1.0,2.0,1.0,0.0,2281.0,0.0,113.0,360.0,1.0,0.0,N
5,1.0,0.0,0.0,0.0,0.0,14999.0,0.0,242.0,360.0,0.0,1.0,N
6,1.0,0.0,0.0,0.0,0.0,3750.0,0.0,100.0,360.0,1.0,2.0,Y
7,1.0,1.0,0.0,0.0,0.0,3708.0,2569.0,173.0,360.0,1.0,2.0,N
8,1.0,0.0,0.0,0.0,1.0,16250.0,0.0,192.0,360.0,0.0,2.0,N
9,0.0,0.0,0.0,0.0,0.0,10000.0,0.0,214.0,360.0,1.0,1.0,N

In [38]:
features = X_train.columns.values.tolist()
target = "class"

In [39]:
auto_h2o = H2OAutoML(max_runtime_secs=60*3)
auto_h2o.train(x=features,
               y=target,
               training_frame=X_train_h2o)

AutoML progress: |████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [40]:
auto_h2o.leaderboard

model_id,auc,logloss
XRT_0_AutoML_20181113_203947,0.740838,0.637387
DRF_0_AutoML_20181113_203947,0.731442,0.646863
StackedEnsemble_BestOfFamily_0_AutoML_20181113_203947,0.731091,0.519599
GBM_grid_0_AutoML_20181113_203947_model_8,0.730856,0.533442
GBM_grid_0_AutoML_20181113_203947_model_9,0.7198,0.654156
StackedEnsemble_AllModels_0_AutoML_20181113_203947,0.717964,0.516261
GBM_grid_0_AutoML_20181113_203947_model_2,0.714252,0.559061
GBM_grid_0_AutoML_20181113_203947_model_0,0.713002,0.560319
GBM_grid_0_AutoML_20181113_203947_model_1,0.71183,0.556971
GLM_grid_0_AutoML_20181113_203947_model_0,0.709564,0.525427

In [41]:
auto_h2o = auto_h2o.leader

In [42]:
X_test1 = X_test
del X_test1['class']

In [43]:
X_test_h2o1 = h2o.H2OFrame(X_test1)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [56]:
X_test_h2o1.describe()

Rows:48
Cols:11

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
type,int,int,int,int,int,int,int,int,int,int,int
mins,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,30.0,180.0,0.0,0.0
mean,0.8125,0.7708333333333334,0.7083333333333334,0.20833333333333334,0.08333333333333333,3891.0624999999995,1881.625,130.74999999999997,347.4999999999999,0.8333333333333334,1.1249999999999996
maxs,1.0,1.0,3.0,1.0,1.0,12841.0,10968.0,349.0,360.0,1.0,2.0
sigma,0.39444277960558327,0.42474439539379416,0.9666422105001248,0.4104140790860576,0.2793101938654641,2101.327770783501,2104.3991675494885,61.38628996563223,44.554532687244325,0.37662178857735473,0.7329625110148482
zeros,9,11,29,38,44,0,17,0,0,8,10
missing,0,0,0,0,0,0,0,0,0,0,0
0,1.0,0.0,0.0,0.0,0.0,4166.0,0.0,98.0,360.0,0.0,1.0
1,1.0,1.0,1.0,0.0,1.0,1000.0,3022.0,110.0,360.0,1.0,2.0
2,1.0,1.0,0.0,0.0,0.0,5568.0,2142.0,175.0,360.0,1.0,0.0
3,1.0,1.0,0.0,0.0,1.0,3000.0,0.0,66.0,360.0,1.0,2.0
4,1.0,1.0,2.0,1.0,0.0,2192.0,1742.0,45.0,360.0,1.0,1.0
5,1.0,1.0,0.0,0.0,0.0,3704.0,2000.0,120.0,360.0,1.0,0.0
6,1.0,1.0,0.0,0.0,0.0,3208.0,3066.0,172.0,360.0,1.0,2.0
7,1.0,1.0,0.0,0.0,0.0,3597.0,2157.0,119.0,360.0,0.0,0.0
8,1.0,1.0,1.0,0.0,0.0,12841.0,10968.0,349.0,360.0,1.0,1.0
9,0.0,1.0,1.0,0.0,0.0,4608.0,2845.0,140.0,180.0,1.0,1.0

In [44]:
df_test_hat = auto_h2o.predict(X_test_h2o1)
predictions = h2o.as_list(df_test_hat["predict"])

drf prediction progress: |████████████████████████████████████████████████| 100%

In [45]:
predictions

   predict
0        N
1        Y
2        Y
3        Y
4        Y
5        Y
6        Y
7        N
8        N
9        Y
10       Y
11       Y
12       Y
13       N
14       Y
15       N
16       Y
17       Y
18       Y
19       Y
20       Y
21       Y
22       Y
23       Y
24       Y
25       Y
26       N
27       Y
28       Y
29       Y
30       Y
31       Y
32       N
33       N
34       Y
35       Y
36       N
37       Y
38       Y
39       N
40       Y
41       N
42       Y
43       Y
44       Y
45       Y
46       Y
47       Y

In [46]:
y_test=list(y_test)

In [47]:
import sklearn
from sklearn.metrics import accuracy_score
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, predictions))

Accuracy score 0.8541666666666666

In [59]:
av_test_array_h2o.describe()

Rows:367
Cols:11

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
type,int,int,int,int,int,int,int,real,real,int,int
mins,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,6.0,0.0,0.0
mean,0.8092643051771117,0.6348773841961853,1.779291553133516,0.22888283378746593,0.1008174386920981,4805.599455040872,1569.57765667575,136.13259668508294,342.5373961218834,0.7602179836512262,1.079019073569483
maxs,1.0,1.0,4.0,1.0,1.0,72529.0,24000.0,550.0,480.0,1.0,2.0
sigma,0.39341749595915276,0.4821218172546439,1.0978401744535957,0.4206871881556252,0.30149787613273077,4910.685398980398,2334.232098686345,60.946039811793774,64.62036562432722,0.4275332171970409,0.824336870212348
zeros,70,134,10,283,330,2,156,0,0,88,111
missing,0,0,0,0,0,0,0,0,0,0,0
0,1.0,1.0,1.0,0.0,0.0,5720.0,0.0,110.0,360.0,1.0,2.0
1,1.0,1.0,2.0,0.0,0.0,3076.0,1500.0,126.0,360.0,1.0,2.0
2,1.0,1.0,3.0,0.0,0.0,5000.0,1800.0,208.0,360.0,1.0,2.0
3,1.0,1.0,3.0,0.0,0.0,2340.0,2546.0,100.0,360.0,0.0,2.0
4,1.0,0.0,1.0,1.0,0.0,3276.0,0.0,78.0,360.0,1.0,2.0
5,1.0,1.0,1.0,1.0,1.0,2165.0,3422.0,152.0,360.0,1.0,2.0
6,0.0,0.0,2.0,1.0,0.0,2226.0,0.0,59.0,360.0,1.0,1.0
7,1.0,1.0,3.0,1.0,0.0,3881.0,0.0,147.0,360.0,0.0,0.0
8,1.0,1.0,3.0,0.0,0.0,13633.0,0.0,280.0,240.0,1.0,2.0
9,1.0,0.0,1.0,1.0,0.0,2400.0,2400.0,123.0,360.0,1.0,1.0

In [117]:
av_test = pd.read_csv('processed_test.csv')
temp=av_test['Loan_ID']
del av_test['Loan_ID']
av_test_array_h2o = h2o.H2OFrame(av_test)
results= auto_h2o.predict(av_test_array_h2o)
results=(h2o.as_list(results["predict"])).iloc[:,0]
final=pd.concat([temp, results], axis=1)
final.rename(columns={'predict': 'Loan_Status'}, inplace=True)
file_name="h2oautoml_final_av_test.csv"
final.to_csv(file_name, sep=',', encoding='utf-8',index=False)

Parse progress: |█████████████████████████████████████████████████████████| 100%
drf prediction progress: |████████████████████████████████████████████████| 100%